:root {
  --main-color: black;
  --sec-color: black;
}
* { margin: 0; padding: 0 }
body {margin: 10px auto; padding: 10px; color: var(--main-color); font-size: 18px; line-height: 130%; font-family: Georgia, serif; max-width: 920px;}
h1, h2, h3, p, ul{margin-bottom: 10px; font-weight: normal;}

h1 {margin-top: 10px; font-size: 7vw; line-height: 100%}

#ress {display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 2rem;}

h2, h3{margin-top: 20px;  }

img{margin: 10px auto 0; border: 1px solid var(--main-color); width: 100%; image-rendering: crisp-edges; max-width: 640px;}
img.noborder{border: none;}
ul li{list-style-position: inside; list-style-type: square; }

hr { margin: 50px 0; height:1px; border-width:0; background-color: var(--sec-color); }

blockquote{padding-left: 10px; border-left: 1px solid var(--main-color); font-style: italic;}
footer{margin-top: 50px; padding-top: 20px; border-top: 3px solid var(--main-color); font-size: 14px; line-height: 130%}
figcaption{font-size: 60%; font-family: monospace;}
