    <footer>
      <p>Site de documentation perso... Mais bienvenue à tous dans le respect des droits projets et photos que je n'ai pas.</p>
      <p>-- Pyc pour <a href="https://lieu-subjectif.com/">Un lieu subjectif</a> - avril - juillet 2021</p>
      <p>Vous souhaitez participer à ce projet, rejoignez le groupe <a href="https://gitlab.com/faconner-son-environnement">faconner-son-environnement</a> sur GitLab.</p>
    </footer>

  </body>
</html>
