<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{{ title }} — Façonner son environnement</title>
  <meta name="Description" content="">
  <meta charset="utf-8">
  <meta name="generator" content="11ty">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/frugal.css">
</head>
  <body>
  <header><a href="/">Façonner son environnement</a></header>
  <article>
